/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Make sure the font in the form is the same */
button,
input {
  font-family: inherit;
  font-size: 100%;
}

/* Header */
.header {
  background-color: #e9d8a6;
  padding: 25px 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #023047;
  font-size: 48px;
}

.header ul {
  display: flex;
  gap: 25px;
}

.header ul li a {
  color: #005f73;
  font-size: 32px;
}

.header ul li a.selected {
  color: #023047;
  text-decoration: underline;
}

.header ul li a:hover {
  text-decoration: underline;
}

/* Main section */
.main-section {
  background-color: #e9d8a6;
  /* padding: 50px 200px 0px 200px; */

  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main-section .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin-top: 200px;
  margin-right: 50px;
}

.main-section .left-side h1 {
  color: #023047;
  font-size: 64px;
  width: 700px;
  text-align: center;
}

.main-section .left-side a {
  color: #f1faee;
  background-color: #0a9396;
  font-weight: bold;
  font-size: 32px;
  border-radius: 8px;
  padding: 8px 32px;
}

.main-section .left-side a:hover {
  background-color: #023047;
}

.main-section img {
  width: 30%;
  align-self: flex-end;
}

/* Footer */
.footer {
  background-color: #023047;
  padding: 25px;

  display: flex;
  justify-content: center;
}

.footer p {
  color: #f1faee;
  font-size: 28px;
}

/* CONTACT PAGE */
/* Main section */
.main-section .form-container {
  align-self: center;
}

.main-section form {
  background-color: #ffc103;
  border-radius: 10px;
  padding: 30px 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section form h3 {
  color: #023047;
  font-size: 64px;
  margin-bottom: 40px;
}

.main-section form label {
  color: #023047;
  font-size: 28px;
  align-self: flex-start;
  margin-bottom: 5px;
}

.main-section form input {
  margin-bottom: 40px;
  padding: 20px 200px;
  border: 0;
  border-radius: 8px;
}

.main-section form input:focus {
  outline: none;
}

.main-section form button {
  color: #f1faee;
  background-color: #0a9396;
  font-weight: bold;
  font-size: 32px;
  border: 0;
  border-radius: 8px;
  padding: 8px 32px;
}

.main-section form button:hover {
  background-color: #023047;
}
